<ion-pane>
  <ion-header-bar class="bar-dark accessories-header">

  <div class="title-container">
    <h1 class="homepage-title">Accessories</h1>
  </div>

  <a class='accessories-back-btn'href="#/home">
    <i class="ion-ios-arrow-left"></i>
  </a>

  </ion-header-bar>


    <div class="sectionsitems" ng-controller="SectionsItemsController">

    <div class='accessories-photo-container'>
      <ion-slide-box>
        <ion-slide ng-repeat="accerLrgPicture in accerLrgPictures" ng-init="updateSlider()">
          <img class='accessories-photo' ng-src="{{ accerLrgPicture }}">
        </ion-slide>
      </ion-slide-box>
    </div>

    </div>

    <!-- (all) tags -->
    <div class="tag-container">
      <div class="tags" ng-controller="TagsController">
        <!-- <div ng-repeat="tag in tags"> -->
        <div>
          <p class="tagsfix"> Tags </p>
        </div>
      </div>
    </div>

</ion-pane>

<ion-footer-bar class='bar-dark'>
  <div class="footer-container" ng-controller="CameraController">
    <a class='camera-btn-container'>
      <div class='camera-btn'>
        <i class="icon ion-ios-camera" ng-click="takePicture()"></i>
      </div>
    </a>
  </div>

</ion-footer-bar>
