<ion-side-menus enable-menu-with-back-views="false">
<ion-side-menu-content>
<ion-header-bar class='bar-dark home-nav-bar'>

	<div class="title-container">
		<h1 class="homepage-title">Wardrobe</h1>
	</div>
    <button class="dropdown-menu-button" ng-click="toggleLeft()">
    	<i class="icon ion-navicon"></i>
    </button>

</ion-header-bar>
<ion-content class='has-footer'>
<div class="closet-slider-container">
	<div class="sectionsitems" ng-controller="SectionsItemsController">

		<div class='photo-container accessories'>
			<ion-slide-box delegate-handle="accer" ng-click="index()">
				<ion-slide ng-repeat="accerPicture in accerPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ accerPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='accessories-link'href="#/accessories">
				<i class="icon ion-android-watch"></i>
			</a>
		</div>

		<div class='photo-container tops'>
			<ion-slide-box delegate-handle="tops">
				<ion-slide ng-repeat="topsPicture in topsPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ topsPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='tops-link'href="#/tops">
				<i class="icon ion-tshirt-outline"></i>
			</a>
		</div>

		<div class='photo-container bottoms'>
			<ion-slide-box delegate-handle="bottoms">
				<ion-slide ng-repeat="bottomsPicture in bottomsPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ bottomsPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='bottoms-link'href="#/bottoms">
				<img src="img/shorts-icon.png">
			</a>
		</div>

		<div class='photo-container footwear'>
			<ion-slide-box delegate-handle="footwear">
				<ion-slide ng-repeat="footPicture in footPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ footPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='footwear-link'href="#/footwear">
				<img src="img/shoe-icon1.png">
			</a>
		</div>

	<!-- <button ng-click="saveOutfit()" style="padding:40px;">CLICK </button> -->


	</div>
</div>
<!-- <ion-spinner icon="ripple"></ion-spinner> -->

</ion-content>

<ion-footer-bar class='bar-dark'>
	<div class="save-outfit-container">
		<!-- <h1 class="save-outfit-btn">Save Outfit</h1> -->
		<a class='save-outfit-btn'href="#/outfits">
			Save Outfit <i class="icon ion-ios-heart-outline"></i>
		</a>
	</div>
</ion-footer-bar>

</ion-side-menu-content>

<ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/outfits">
          Outfits
        </ion-item>
        <ion-item menu-close href="#/home">
          Profile
        </ion-item>
        <ion-item menu-close href="#/home">
          Filters
        </ion-item>
        <ion-item menu-close href="#/home">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


