<ion-header-bar class='bar-dark home-nav-bar'>

	<div class="title-container">
		<h1 class="homepage-title">Wardrobe</h1>
	</div>
    <button class="dropdown-menu-button" ng-click="doSomething()">
    	<i class="icon ion-navicon"></i>
    </button>

</ion-header-bar>
<ion-content class='has-footer'>
<div class="closet-slider-container">
	<div class="sectionsitems" ng-controller="SectionsItemsController">

		<div class='photo-container accessories'>
			<ion-slide-box delegate-handle="accer" ng-click="index()">
				<ion-slide ng-repeat="accerPicture in accerPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ accerPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='accessories-link'href="#/accessories">
				<i class="icon ion-android-watch"></i>
			</a>
		</div>

		<div class='photo-container tops'>
			<ion-slide-box delegate-handle="tops">
				<ion-slide ng-repeat="topsPicture in topsPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ topsPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='tops-link'href="#/tops">
				<i class="icon ion-tshirt-outline"></i>
			</a>
		</div>

		<div class='photo-container bottoms'>
			<ion-slide-box delegate-handle="bottoms">
				<ion-slide ng-repeat="bottomsPicture in bottomsPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ bottomsPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='bottoms-link'href="#/bottoms">
				<img src="img/pants-icon.png">
			</a>
		</div>

		<div class='photo-container footwear'>
			<ion-slide-box delegate-handle="footwear">
				<ion-slide ng-repeat="footPicture in footPictures" ng-init="updateSlider()">
					<img class='photos' ng-src="{{ footPicture }}">
				</ion-slide>
			</ion-slide-box>
			<a class='footwear-link'href="#/footwear">
				<img src="img/shoe-icon.png">
			</a>
		</div>

	<button ng-click="saveOutfit()" style="padding:40px;">CLICK </button>


	</div>
</div>
<!-- <ion-spinner icon="ripple"></ion-spinner> -->

</ion-content>

<ion-footer-bar class='bar-dark'>
	<div class="footer-container">
		<h1 class="save-outfit-btn">Save <i class="icon ion-ios-heart-outline"></i> Outfit</h1>
	</div>

</ion-footer-bar>

