<ion-view class='login-container'>
  <ion-content class= "login">
    <div class="shadow-div"></div>
    <div class='logo'>
        <h1 class="logo-text"><strong>Never</strong> Nude</h1>
    </div>
    <div class="slogan">
        <p class="slogan-text">A Pocket Wardrobe</p>
    </div>
        <div class="login-form-container">
            <form id="login" method="" action="">
                <input id="email" class="email-input" type="email" name="" value="" placeholder="Email" >
                <input id="password" class="password-input" type="password" name="" value="" placeholder="Password" >
                <input id="btnsignin" class="form-button" type="submit" value="SIGN IN">
            </form>

            <a class='bypass-link'href="#/home">
                testing bypass login
            </a>

            <!-- <button class="button button-full button-positive" type="submit">
                    Sign In
           </button> -->
        </div>
        <div class="register">
            <div class="signup">
              <a class='signup-link'href="#/registration">REGISTER</a>
            </div>
        </div>
  </ion-content>
</ion-view>