<ion-view class='login-container'>
  <ion-content class= "login">
    <div class="shadow-div"></div>
    <div class='logo'>
        <h1 class="logo-text"><strong>Never</strong> Nude</h1>
    </div>
    <div class="slogan">
        <p class="slogan-text">A Pocket Wardrobe</p>
    </div>
    <div class="login-form-container">
        <div ng-controller="UserController">
            <form id="login" method="" action="">
                <input id="email" class="email-input" type="email" ng-model="email" placeholder="Email" >
                <input id="password" class="password-input" type="password" ng-model="password" placeholder="Password" >
                <input id="btnsignin" class="form-button" type="submit" value="SIGN IN" ng-click="login()">
            </form>

        </div>
    </div>
        <div class="register">
            <div class="signup">
              <a class='signup-link'href="#/registration">REGISTER</a>
            </div>
        </div>
  </ion-content>
</ion-view>
