<ion-header-bar class='bar-dark home-nav-bar'>

	<div class="title-container">
		<h1 class="homepage-title">Outfits</h1>
	</div>
    <button class="dropdown-menu-button" ng-click="doSomething()">
    	<i class="icon ion-navicon"></i>
    </button>
    
</ion-header-bar>
<ion-content class='has-footer'>
<div class="fulloutfits-container">
	<div class="outfits" ng-controller="OutfitsController">
		
		<div class='outfit-photo-container'>
			<ion-slide-box>
				<ion-slide ng-repeat="picture in pictures" ng-init="updateSlider()">
					<img class='outfits-photo' ng-repeat="photo in picture" ng-src="{{ photo }}">
				</ion-slide>
			</ion-slide-box>

		</div>

	</div>
</div>
<!-- <ion-spinner icon="ripple"></ion-spinner> -->

</ion-content>

<ion-footer-bar class='bar-dark'>
	<div class="footer-container">
		<h1 class="save-outfit-btn"></h1>
	</div>	

</ion-footer-bar>