<ion-view class='register-container'>
  <ion-content class= "login">
    <div class="shadow-div"></div>
    <div class='logo'>
        <h1 class="logo-text"><strong>Never</strong> Nude</h1>
    </div>
    <div class="slogan">
        <p class="slogan-text">There Are Dozens of Us</p>
    </div>
        <div class="register-page">
            <div class="register-header">
                <div class="register-title">
                    <p><!-- SIGN IN --></p>
                </div>
                <a class='tops-link'href="#/login"><div class="arrow-button"></div></a>
            </div>
            <div class="register-form-container">
                <form id="register-form" method="" action="">

                    <input id="nickname" class="register-form-fields" type="text" name="" value="" placeholder="Nickname" >
                    <input id="first-name" class="register-form-fields" type="text" name="" value="" placeholder="First Name" >
                    <input id="last-name" class="register-form-fields" type="text" name="" value="" placeholder="Last Name" >
                    <input id="e-mail" class="register-form-fields" type="text" name="" value="" placeholder="Email" >
                    <input id="new-password" class="register-form-fields" type="password" name="" value="" placeholder="Password" >
                    <!-- <input id="registerbtn" class="form-button" type="submit" value="REGISTER"> -->
                </form>

                <a class='bypass-link'href="#/home">
                    testing bypass register
                </a>

                <button class="button button-full button-positive" type="submit">
                    REGISTER
                </button>
               
            </div>
        </div>
  </ion-content>
</ion-view>