<ion-view class='register-container'>
  <ion-content class= "login">
    <div class="shadow-div"></div>
    <div class='logo'>
        <h1 class="logo-text"><strong>Never</strong> Nude</h1>
    </div>
    <div class="slogan">
        <p class="slogan-text">There Are Dozens of Us</p>
    </div>
        <div class="register-page">
            <div class="register-header">
                <div class="register-title">
                    <p><!-- SIGN IN --></p>
                </div>
                <a class='tops-link'href="#/login"><div class="arrow-button"></div></a>
            </div>
            <div class="register-form-container">
                <div ng-controller="UserController">
                    <form id="register-form" method="" action="">
                        <input id="nickname" class="register-form-fields" type="text" placeholder="Nickname" ng-model="nickname" autofocus>
                        <input id="first-name" class="register-form-fields" type="text" placeholder="First Name" ng-model="firstName">
                        <input id="last-name" class="register-form-fields" type="text" placeholder="Last Name" ng-model="lastName">
                        <input id="e-mail" class="register-form-fields" type="text" placeholder="Email" ng-model="email">
                        <input id="new-password" class="register-form-fields" type="password" placeholder="Password" ng-model="password">
                        <input id="confirm-password" class="register-form-fields" type="password" placeholder="Confirm Password" ng-model="passwordConfirm">
                        <input id="registerbtn" class="form-button" type="submit" value="REGISTER" ng-click="register()">
                    </form>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
