/* Empty. Add your own CSS if you like */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;
    
}

/*-------------------------------------------------*/
/*--------------------login page-------------------*/
/*-------------------------------------------------*/

.login-container {
    background-color: #000;
    position: absolute; 
    width: 100%;
    height: 100%;
}

.login {
    background-image: url(../img/closet6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width: 100%;
    height: 100%;
}

.logo {
    border-bottom: 1px solid #fff;
    width: 75%;
    margin: auto;
    padding: 60px 0 0;
}

.logo-text {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    font-size:24px;
    font-weight:normal;
    padding:0px;
    text-align:center;
    margin-bottom: 5px;
     
}

.slogan-text {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
}

.login-form-container {
    position: absolute;
    margin: auto;
    width: 50%;
    left: 25%;
    top: 45%;
    box-sizing: border-box;

}

.scroll {
    height: 100%;
}

input[type="email"] {
    background: rgba(255, 255, 255, 0.5);
    background-image: url(../img/mail.png);
    background-position: 7px 9px;
    background-repeat: no-repeat;
    padding-left:20px; 
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
    margin-left: -9px;
    
}

input[type="password"] {
    background: rgba(255, 255, 255, 0.5);
    background-image: url(../img/lock.png);
    background-position: 7px 9px;
    background-repeat: no-repeat;
    padding-left:20px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
    margin-left: -9px;
}

input[type="text"] {
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
    margin-left: -9px;
}

.form-button {
    color: #fff;
    margin: auto;
    font-size: 10px;
    text-shadow: 2px 2px 3px #000;
    padding: 6px;
    /*background: rgba(255, 255, 255, 0.5);*/
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    /*box-shadow: 5px 4px 15px #191919;*/
    position: absolute;
    left: 30%;
    top:130%;
    box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

input::-webkit-input-placeholder {
  color: #000;
  padding-left: 10px;
}

.register {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 7%;
    text-align: center;
    border-top: 1px solid #fff;
}

.signup {
    margin-top: 3%;
}

a.signup-link {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    text-decoration: none;
}

.shadow-div {
    background-color: #000;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
}

/*-------------------------------------------------*/
/*----------------registeration page---------------*/
/*-------------------------------------------------*/

#registerbtn {
    top: 105%;
}

.register-form-container {
    position: absolute;
    margin: auto;
    width: 50%;
    left: 25%;
    top: 35%;
}

.register-form-fields {
    background: rgba(255, 255, 255, 0.5);
    padding-right:30px;
    height: 20px; 
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919; 
}

input[type="password"] {
    padding-left: -20px;
}

#new-password {
    background-image: none;
}

.register-header {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 7%;
    text-align: center;
    border-top: 1px solid #fff;
}

.register-title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin-top: 3%;
    margin: auto;
    width: 50%;
}

.arrow-button {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
}



/*-------------------------------------------------*/
/*--------------------homepage---------------------*/
/*-------------------------------------------------*/

ion-spinner svg {
    position: absolute;
    top: 152px;
    left: 144px;
}

.home-nav-bar {
    border-bottom: 2px solid #000;
}

.slider-pager {
    display: none;
}

.dropdown-menu-button {
    width: 35px;
    color: #fff;
}

.title-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 45px;
}

h1.homepage-title {
    position: relative;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}

.closet-slider-container {
    width: 180px;
    height: 450px;
    margin-left: -90px;
    top: 3%;
    left: 50%;
    /*background-color: blue;*/
    position: absolute;
}

.photos {
    height: 90px;
    width: 100%;
}

.photo-container {
    border: 3px solid #000;
    position: relative;
    margin: 10px auto;
    object-fit: cover;
    width: 175px;
    height: 96px;
    border-radius: 5px;
}

.ion-navicon:before {
    font-size: 20px;
    position: absolute;
    top: 6px;
    left:14px;
}

.ion-tshirt-outline:before {
    font-size: 20px;
    position: absolute;
    top:175px;
    left:140px;
    padding: 10px;
}

.accessories {
    
}

.tops {
   
}

.bottoms {
    
}

.footwear {
    
}