/* Empty. Add your own CSS if you like */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;

}

/*-------------------------------------------------*/
/*--------------------login page-------------------*/
/*-------------------------------------------------*/

.login-container {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.login {
    background-image: url(../img/50.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width: 100%;
    height: 100%;
}

.logo {
    border-bottom: 1px solid #fff;
    width: 75%;
    margin: auto;
    padding: 60px 0 0;
}

.logo-text {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    font-size:24px;
    font-weight:normal;
    padding:0px;
    text-align:center;
    margin-bottom: 5px;

}

.slogan-text {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
}

.login-form-container {
    position: absolute;
    margin-left: -100px;
    width: 200px;
    left: 50%;
    top: 45%;
    box-sizing: border-box;

}

.scroll {
    height: 100%;
}

input[type="email"] {
    background: rgba(255, 255, 255, 0.75);
    background-image: url(../img/mail.png);
    background-position: 7px 9px;
    background-repeat: no-repeat;
    padding-left: 14%;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1.15em;
}

input[type="password"] {
    background: rgba(255, 255, 255, 0.75);
    background-image: url(../img/lock.png);
    background-position: 7px 9px;
    background-repeat: no-repeat;
    padding-left: 14%;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
    margin: auto;
    font-size: 1.15em;
}

input[type="text"] {
    background: rgba(255, 255, 255, 0.75);
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
    margin-left: 13px;
    font-size: 1.15em;
}

.form-button {
    color: #fff;
    margin-left: -30px;
    font-size: 10px;
    text-shadow: 2px 2px 3px #000;
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 60px;
    left: 50%;
    top:130%;
    box-shadow:
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

input::-webkit-input-placeholder {
  color: #000;
  padding-left: 10px;
}

.register {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 7%;
    text-align: center;
    border-top: 1px solid #fff;
}

.signup {
    margin-top: 3%;
}

a.signup-link {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    text-decoration: none;
}



/*-------------------------------------------------*/
/*----------------registeration page---------------*/
/*-------------------------------------------------*/

#registerbtn {
    top: 105%;
}

.register-form-container {
    position: absolute;
    margin-left: -100px;
    width: 200px;
    left: 50%;
    top: 27%;
}

.register-form-fields {
    background: rgba(255, 255, 255, 0.75);
    height: 20px;
    padding-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 5px 4px 15px #191919;
}

input[type="text"], input[type="password"] {
    padding-left: 12% !important;
    font-size: 1.15em;
}

#new-password {
    background-image: none;
    margin: 17px 0px 17px 12px;
    padding-left: 0;
}

#confirm-password {
    background-image: none;
    margin: 17px 0px 17px 12px;
    padding-left: 0;
}

.register-header {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 7%;
    text-align: center;
    border-top: 1px solid #fff;
}

.register-title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin-top: 3%;
    margin: auto;
    width: 50%;
}

.arrow-button {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
}



/*-------------------------------------------------*/
/*--------------------homepage---------------------*/
/*-------------------------------------------------*/

ion-spinner svg {
    position: absolute;
    top: 152px;
    left: 144px;
}

.home-nav-bar {
    border-bottom: 2px solid #000;
}

.slider-pager {
    display: none;
}

.dropdown-menu-button {
    width: 45px;
    color: #fff;
    position: absolute;
}

.title-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 45px;
}

h1.homepage-title {
    position: relative;
    font-size: 23px;
    margin-top: 8px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    z-index: 0;
}

.closet-slider-container {
    width: 300px;
    height: 545px;
    margin-left: -150px;
    top: 3px;
    left: 50%;
    /*background-color: blue;*/
    position: absolute;
}

.photos {
    border-radius: 6px;
    height: 124px;
    width: 100%;
}

.photo-container {
    border: 3px solid #000;
    position: relative;
    margin: 5px auto;
    object-fit: cover;
    /*width: 300px;*/
    width: 225px;
    /*height: 180px;*/
    height: 130px;
    border-radius: 10px;
    box-shadow: 5px 4px 15px #191919;
}

.ion-navicon:before {
    font-size: 30px;
    position: absolute;
    top: 2px;
    left:14px;
}

.ion-tshirt-outline:before {
    font-size: 20px;
    position: absolute;
    bottom:40px;
    right:-22px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    /*opacity: 0.5;*/
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    box-shadow:
        6px 5px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 5px 5px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.ion-android-watch:before {
    font-size: 20px;
    position: absolute;
    bottom:40px;
    right:-22px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    /*opacity: 0.5;*/
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    box-shadow:
        6px 5px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 5px 5px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.bottoms-link img{
    width: 45px;
    height: 45px;
    position: absolute;
    bottom:40px;
    right:-22px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    /*opacity: 0.5;*/
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow:
        6px 5px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 5px 5px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.footwear-link img{
    width: 45px;
    height: 45px;
    position: absolute;
    bottom:40px;
    right:-22px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    /*opacity: 0.5;*/
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow:
        6px 5px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 5px 5px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}

.ion-ios-heart-outline:before {
    font-size: 20px;
}

.save-outfit-btn {
    position: relative;
    font-size: 20px;
    padding-top: 12px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    text-decoration: none;
}

.save-outfit-container a{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 45px;
}

.accessories {

}

.tops {

}

.bottoms {

}

.footwear {

}

/*-------------------------------------------------*/
/*----------------accessories page-----------------*/
/*-------------------------------------------------*/

.accessories-header {
    position: absolute;
    top: 280px;
    border-bottom: 2px solid #000;
    /*border-top: 4px solid #000;*/
    z-index: 1;
}

.camera-btn-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 45px;
    z-index: 0;
}

.accessories-back-btn {
    color: #fff;
    font-size: 30px;
    margin: 3px 0px 0px 10px;
    padding: 0 10px;
    z-index: 0;
}

.camera-btn {
    width: 50px;
    height: 50px;
    margin: auto;
}

.ion-ios-camera:before {
    color: white;
    margin-top: 7px;
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.accessories-photo-container {
    width: 100%;
    height: 280px;
    /*border: 4px solid black;*/
}

.accessories-photo {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
}

.tag-container {
    position: absolute;
    top: 364px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.tags p {
    text-align: center;
}

.ion-android-favorite:before {
    color: #ff0000;
    opacity: .8;
}

.bypass-link {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

/*-------------------------------------------------*/
/*------------------outfits page-------------------*/
/*-------------------------------------------------*/

.full-outfits-container {
    width: 227px;
    height: 565px;
    margin-left: -113px;
    top: 3%;
    left: 50%;
    position: absolute;
    border: 3px solid #000;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 4px 15px #191919;
}

/*.outfit-photo-container {
    border: 3px solid #000;
    position: relative;
    margin: 5px auto;
    object-fit: cover;
    width: 225px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 5px 4px 15px #191919;
}*/

.outfits-photo {
    width: 220px;
    height: 135px;
    margin: 0px;
    padding: 0px;
    border-radius: 7px;
}

/*.slider {
    height: 100%;
}*/


.fix {
    width: 100%;
    height: 300px;
}

/*-------------------------------------------------*/
/*----------------camera edit page-----------------*/
/*-------------------------------------------------*/

.photo-page-fill {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 400px;
    height: 370px;
}

.camera-crop-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.camera-crop {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 225px;
    background-color: white;
}

.crop-btn {
    width: 100px;
    height: 40px;
    position: relative;
    left: 50%;
    top: 300px;
    margin-left: -50px;
    color: black;
    background-color: yellow;
    text-align: center;
    }

/*-------------------------------------------------*/
/*----------------------pop-up---------------------*/
/*-------------------------------------------------*/

.popupstyle .popup {
    min-width: 80% ;
    height: 17%;
    border-radius: 9px;
    background-color: #A6A6A6;
}

.popupstyle .popup-head {
    border-bottom: #A6A6A6;
}

.popupstyle .popup-title {
    font-size: 1.3em;
    font-weight: bold;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    background-color: #A6A6A6;
}

.popupstyle .popup-buttons .button {
    text-shadow: 2px 2px 3px #000;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    background-color: #323333;
    box-shadow:
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3);
}
